@model parcial1.Models.Footwear


<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Brand)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.PayInInstallments)
    </td>
    <td>
          @Html.DisplayFor(modelItem => Model.Store.Sname)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Details" asp-route-id="@Model.Id">Detalles</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id">Borrar</a>
    </td>
</tr>
